{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <h1 id="heading">Navigating Life's Pages: </h1><br>
    <h4 id="text">
        The dashboard of a digital diary website serves as the gateway to a world of personal expression.
        <br> It is a virtual canvas where users can paint their emotions, thoughts, and experiences. The interface is <br>carefully designed to provide an intuitive and user-friendly experience, reminiscent of traditional diaries
        <br>while incorporating the advantages of modern technology.
    </h4>
    <h4 id="line">Now its your turn to paint your world with words</h4>
    <img src="/static/Diary Icon.png" width="250" height="250" id="image">
{% endblock %}